* {
    background-color: gray;
    color: white;
    font-family: ui-monospace;
}

table {
    width: 100%
}

a:link { 
    color: blue; 
}
a:hover {
    color: green;
}
a:active {
    color: darkred;
}

h1 {
    text-align: center;
}

th {
    font-weight: bold;
    font-size: x-large;
}
td {
    font-weight: bold;
}

.as-css-code {
    border: 1px dashed white;
    background-color: darkslategray;
    font-weight: initial;
    padding: 10px;
}

.make-bigger {
    font-size: x-large;
}

.have-border {
    border: 1px dashed white;
}

#only-black-one {
    color: black;
}

[data-num] {
    color: red;
}
[data-num="1"] {
    color: green;
}
[data-num="2"] {
    color: blue;
}
[data-num="3"] {
    color: yellow;
}

#pe-test::first-letter {
    color:black
}
#pe-test::after {
    content: " If you see this text, this was made with #pe-test::after and made yellow.";
    color: yellow;
}

#comb-ex span {
    color: red
}
#comb-ex > span {
    color: orange
}