* {
    font-family: ui-monospace;
}

body {
    background-color: darkslategray;
    color: white;
}

table {
    width: 100%;

}

a:link {
    color: lightblue;
}

a:hover {
    color: lightgreen;
}

a:active {
    color: darkred;
}

h1 {
    text-align: center;
}

th,
td {
    font-weight: bold;
    background-color: #5f5f5f;
    padding: 10px;
}

th {
    font-size: x-large;
}

td:first-child {
    text-align: center;
}

tr:nth-child(odd)>td {
    background-color: #5f5f5f;
}

tr:nth-child(even)>td {
    background-color: #6f6f6f;
}

.as-css-code {
    border: 1px dashed white;
    color: #dfdfdf;
    background-color: #1c1d1d;
    font-weight: initial;
    padding: 10px;
}

.make-bigger {
    font-size: x-large;
}

.have-border {
    border: 1px dashed white;
}

#only-black-one {
    color: black;
}

[data-num] {
    color: red;
}

[data-num="1"] {
    color: lightgreen;
}

[data-num="2"] {
    color: lightblue;
}

[data-num="3"] {
    color: yellow;
}

#pe-test::first-letter {
    color: black;
}

#pe-test::after {
    content: " If you see this text, this was made with #pe-test::after and made yellow.";
    color: yellow;
}

#comb-ex span {
    color: red;
}

#comb-ex>span {
    color: orange;
}